<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Line</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of commandLignes ; let i = index;">
        <th scope="row">{{i+1}}</th>
        <td>{{item.product.name}}</td>
        <td>{{item.quantity}}</td>
        <td>${{item.total}}</td>
      </tr>
    </tbody>
    <tfoot class="table-secondary">
        <th scope="row">Total</th>
        <td></td>
        <td></td>
        <td>${{order.total}}</td>
      </tfoot>
  </table>
  <button type="button" class="btn btn-success" [routerLink]="['/orders']">Hide details</button>